@import "../vars";

.modal {
    width: 100%;
    height: 100vh;
    z-index: 10;
    position: fixed;
    top: 0;
    
    animation: fadeIn; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 1s;

    &__background {
        width: 100%;
        height: 100vh;
        background-color: #FFFFFF;
        opacity: 96%;

        display: flex;
        justify-content: right;
    }

    &__window {
        width: 440px;
        height: 100vh;
        opacity: 100%;
        background-color: #FFFFFF;
        box-shadow: 16px 0px 52px 0px #0E185033;
        display: flex;
        flex-direction: column;
        padding-top: 40px;

        position: absolute;
        top: 0;
        right: 0;

        animation: bounceInRight; /* referring directly to the animation's @keyframe declaration */
        animation-duration: 1.5s;

        @media screen and (max-width: 767px) {
            width: 100%;
            padding-top: 114px;
        }
    }

    &__title {
        width: 100%;
        border-left: 3px solid ($current-section-color);
        height: 40px;
        padding-left: 32px;
        padding-right: 32px;
        display: flex;
        align-items: center;
        border-radius: 2px;
        font-size: 24px;
        font-family: 'TT Lakes Bold'
    }

    &__form {
        margin-top: 24px;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__text {
        font-size: 14px;
        color: #7E7E82;
    }

    &__button {
        width: 100%;
        display: flex;
        justify-content: right;
    }

    &__close-btn {
        position: absolute;
        top: 40px;
        left: -80px;

        @media screen and (max-width: 767px) {
            top: 40px;
            left: 32px;
        }
    }
    .container-modal {
        padding-left: 32px;
        padding-right: 32px;
    }
}