@font-face {
    font-family: 'TT Lakes Regular';
    src: url(../fonts/regular/TTLakesCondensed-Regular.eot);
    src: url(../fonts/regular/TTLakesCondensed-Regular.eot) format('embedded-opentype'),
    url(../fonts/regular/TTLakesCondensed-Regular.woff) format('woff'),
    url(../fonts/regular/TTLakesCondensed-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Medium';
    src: url(../fonts/medium/TTLakes-Medium.eot);
    src: url(../fonts/medium/TTLakes-Medium.eot) format('embedded-opentype'),
    url(../fonts/medium/TTLakes-Medium.woff) format('woff'),
    url(../fonts/medium/TTLakes-Medium.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Bold';
    src: url(../fonts/bold/TTLakes-Bold.eot);
    src: url(../fonts/bold/TTLakes-Bold.eot) format('embedded-opentype'),
    url(../fonts/bold/TTLakes-Bold.woff) format('woff'),
    url(../fonts/bold/TTLakes-Bold.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
