$main-bg-color: #F8F8F8;
$block-bg-color:linear-gradient(270deg, #F8F8F8 0%, #FFFFFF 98.61%);;
$block-border-color: #D9FFF5;
$current-section-color: #41F6D7;
$current-item-color: #B8FFEC;
$item-border-color: #EAEAEA;
$item-bg-color: #FFFFFF;

$btn-bg-color: #FF3E79;

$pagination-bg-active-color: #B5B6BC;  
$pagination-bg-color: #DDDDDD;  

$black-font-color: #1B1C21;
$grey-font-color: #7E7E82;
$light-grey-color: #B5B6BC;